:host{
    width: 100%;
    height: 100%;
}

.panel-head{
    font-size: 120%;
    font-weight: 500;
}

.info-case{
    height: 100%;
    // background-color: gray;
    display: grid;
    grid-template-rows: 1fr;
}

.panel-controls{
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
    mat-form-field{
        width: 100%;
    }
    .buttons{
        display: flex;
        align-items: center;
        column-gap: 8px;
        button{
            display: flex;
            align-items: center;
            div{
                background-color: rebeccapurple;
            }
        }
    }
}


.tabla-result{
    table{
        width: 100%;
        .date{
            div{
                width: 200px;
                min-width: max-content;
            }
            // background-color: red;
        }
        
        .dni{
            div{
                width: 100px;
            }
        }

        .name{
            text-transform: capitalize;
            width: 100%;
        }
        
        .controls{
            div{
                display: flex;
                min-width: max-content;
                column-gap: 10px;
                align-items: center;
            }
        }
    }
}