.example-section{
    display: flex;
    column-gap: 25px;
    flex-wrap: wrap;
    mat-checkbox{
        margin: 3px 0;
    }
    margin: 7px 0;
}
.salud{
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 20px;
}
.actions{
    display: flex;
    justify-content: right;
}