:host{
    padding: 10px;
    display: flex;
    row-gap: 5px;
    flex-direction: column;
    mat-form-field{
        height: 52px;
    }
    width: 100%;
    max-width: 900px;
    position: relative;
}
.loading{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: rgba(116, 110, 110, 0.356);

    display: flex;
    justify-content: center;
    align-items: center;

    mat-progress-spinner{
        height: 10px;
        width: 10px;
        // background-color: red;
    }
}

.loading-hidden{
    display: none;
    transform: scale(0.1);
    transition: all 0.3s;
}
section{
    border-radius: 5px;
    padding: 5px;
    border: 1px solid var(--color-primary);
    position: relative;
    &.controls{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 40px;
            margin-left: 10px;
            color: var(--color-primary);
        }
    }
    &.surveys{
        height: 100%;
    }

    &.pollster{
        display: flex; align-items: center;
        column-gap: 10px;
        // .title{
        //     margin-bottom: 5px;
        // }
        .select-pollster{
            border: 1px solid rgb(216, 213, 213);
            border-radius: 5px;
            padding: 2px 5px;
        }
    }

    
    .valid{
        position: absolute;
        top: 5px; right: 5px;
        mat-icon{
            font-weight: 600;
        }
        .s{
            color: green;
        }
        .n{
            color: red;
        }
        .b{
            color: gray;
        }
    }
    .title{
        font-size: 120%;
        font-weight: 500;
    }

    .data-user{
        display: flex;
        flex-wrap: wrap;
        column-gap: 15px;

        

    }
}
.panel-surveys{
    display: flex;
    column-gap: 10px;
    align-items: center;
    h2{
        margin: 0;
        
    }
}
.tab-surveys{
    padding-top: 10px;
}
::ng-deep{
    .tab-surveys{
        .mat-tab-header{
            display: none;
        }
        .mat-tab-labels{
            display: none;
        }
        .mat-tab-label-container{
            display: none;
        }
        .mat-tab-label-container{
            .mat-tab-labels{
                display: none;
            }
        }
        
    }
}