ul{
    margin-top: 10px;
    max-width: 300px;
    padding: 5px;
    border-radius: 5px;
    list-style: none;
    box-shadow: 0 0 1px 1px rgba(136, 136, 136, 0.527);
    li:first-child{
        border-top: 0;
    }
    li{
        border-top: 1px solid rgba(136, 136, 136, 0.527);
        padding: 4px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        button{
            height: 25px; width: 25px;
            display: flex; justify-content: center; align-items: center;
            mat-icon{
                font-size: 18px;
            }
        }
    }

}