<header>
    <div>LOGO</div>
    <!-- <div>Registro de actividades</div> -->
    <div>LOGIN</div>
</header>
<!-- Barra de navegación -->
<nav class="nav">
    <ul class="nav nav-tabs">
        <li class="nav-item" >
            <a class="nav-link" routerLink="atencion-a-la-comunidad" routerLinkActive="active">
                Atención a la comunidad
            </a>
        </li>
        <li class="nav-item" >
            <a class="nav-link" routerLink="configuraciones" routerLinkActive="active">
                Configuraciones
            </a>
        </li>
    </ul>
</nav>
<!-- Contenido de la página -->
<div>
    <router-outlet></router-outlet>
</div>
<footer>
    <div>
        App desarollada por: Heiler Nova
    </div>
    <div>
        Legales
    </div>
    <div>
        Contacto:
    </div>
</footer>