
<mat-form-field style="width: 100%;" appearance="outline">
    <mat-label>IPS a Evaluar</mat-label>
    <mat-select>
        <mat-option *ngFor="let ips of ipsList" [value]="ips.id">{{ips.name}}</mat-option>
    </mat-select>
</mat-form-field>

<div class="nav">
    <button mat-stroked-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let item of tabMenus" (click)="selectMenu(item)">
            <span><mat-icon>{{item.icon}}</mat-icon></span>
            <span>{{item.text}}</span>
        </button>
      </mat-menu>
      <h2>{{tabTitle}}</h2>
</div>

<mat-tab-group mat-align-tabs="start" class="tab" [selectedIndex]="tabValue">
    <mat-tab label="Evaluación a la IPS">
        <app-surveys-form-questions [questions]="questionsEvaluationIPS"></app-surveys-form-questions>
    </mat-tab>
    <mat-tab label="Hospitalización">
        <!-- Enceesta de la EPS -->
        <app-surveys-form-questions [questions]="questionsHostitalizatin"></app-surveys-form-questions>
    </mat-tab>
  
    <mat-tab label="Laboratorio">
       <app-surveys-form-questions [questions]="questionsLaboratory"></app-surveys-form-questions>
    </mat-tab> 
    <mat-tab label="Farmacia">
        <app-surveys-form-questions [questions]="questionsPharmacy"></app-surveys-form-questions>
    </mat-tab>
    <mat-tab label="Medicina">
        <app-surveys-form-questions [questions]="questionsMedicine"></app-surveys-form-questions>
    </mat-tab>
    <mat-tab label="Odontología">
        <app-surveys-form-questions [questions]="questionsDentistry"></app-surveys-form-questions>
    </mat-tab>
</mat-tab-group>
