<div class="page">
    <nav class="page-nav">
        <ul>
            <li routerLink="perfil" routerLinkActive="active">
                Perfil
            </li>
            <li routerLink="eps" routerLinkActive="active">
                EPS
            </li>
            <li routerLink="servico-de-actencion-a-la-comunidad" routerLinkActive="active">
                Servcion de actención a la comunidad
            </li>
            <!-- <li>
                Seguridad
            </li> -->
        </ul>
    </nav>
    <div class="page-content">
        <router-outlet></router-outlet>
    </div>
</div>