<div class="panel">
    <div class="panel-title">
        <h2>Historial de atención al usuario</h2>
    </div>
    <div class="panel-controls">
        <mat-form-field appearance="standard">
            <mat-label>Buscar (Documento o nombre)</mat-label>
            <input matInput autocomplete="off">
        </mat-form-field>
        <div>
            <button mat-button>Agregar <mat-icon>post_add</mat-icon></button>
            <button mat-button (click)="updateList()">Actualizar lista <mat-icon>update</mat-icon> </button>
            <button mat-button>Filtrar <mat-icon>filter_alt</mat-icon> </button>
        </div>
    </div>
    <div class="panel-list">
        <ng-container *ngIf="listRequests.length > 0; else listEmpy">
            <div class="div-table">

                <table mat-table [dataSource]="listRequests" multiTemplateDataRows>
                    
                    <!-- Fecha -->
                    <ng-container matColumnDef="date">
                        <th class="date" mat-header-cell *matHeaderCellDef> Fecha </th>
                        <td class="date" mat-cell *matCellDef="let element"> <div>{{element.date | date: 'dd/MMM/yyyy hh:mm aa'}}</div> </td>
                    </ng-container>
                    <!-- Nombre -->
                    <ng-container matColumnDef="name">
                        <th class="name" mat-header-cell *matHeaderCellDef> Nombre </th>
                        <td class="name" mat-cell *matCellDef="let element"> {{element.name.toLowerCase() }} </td>
                    </ng-container>
                    <!-- estado -->
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> Estado </th>
                        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                    </ng-container>

                    <!-- Controles de botones -->
                    <ng-container matColumnDef="controls">
                        <th mat-header-cell *matHeaderCellDef> Controles </th>
                        <td class="controls" mat-cell *matCellDef="let element">
                            <div>
                                <button mat-icon-button (click)="showInfo(element)"> <mat-icon>zoom_in</mat-icon> </button>
                                <button mat-icon-button> <mat-icon>edit</mat-icon> </button>
                                <button mat-icon-button> <mat-icon>delete</mat-icon> </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            
                </table>

            </div>
        </ng-container>
        <ng-template #listEmpy>
            <div>
                Sin resultados
            </div>
        </ng-template>
    </div>

</div>