
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&display=swap');
:host{
    height: 100%;
}
.panel{
    height: 100%;
    display: grid;
    max-width: 900px;
    padding-bottom: 10px;
    grid-template-rows: auto auto 1fr;
    .panel-title{
        // background-color: aquamarine;
    }
    .panel-controls{
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        // border-radius: 5px;
        // box-shadow: 0 0 1px 1px rgb(119, 117, 117);
        // padding: 0 10px;
    }
    .panel-list{
        border-radius: 2px;
        box-shadow: 0 0 1px 1px rgb(119, 117, 117, 0.3);
        padding: 5px;
        position: relative;
        .div-table{
            // background-color: aqua;
            position: absolute;
            left: 0; right: 0;
            top: 0; bottom: 0;
            overflow: auto;
            table{
                // background-color: red;
                width: 100%;
                .date{
                    div{
                        width: 200px;
                        min-width: max-content;
                    }
                    // background-color: red;
                }
                .name{
                    text-transform: capitalize;
                    width: 100%;
                }.controls{
                    div{
                        display: flex;
                        min-width: max-content;
                        column-gap: 10px;
                        align-items: center;
                    }
                }
            }
        }
    }
}

table {
width: 100%;
}

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}
  
.description{
    padding: 10px 0;
    width: 100%;
    .accompaniment-text{
        width: 100%;
        border-radius: 5px;
        padding: 10px;
        background-color: #efefef;
    }
}