
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&display=swap');

mat-expansion-panel{
    mat-panel-title{
        text-transform: capitalize;
        display: flex;
        column-gap: 25px;
        .date{
            font-family: "Cascadia Code";
        }
    }
}

.comentarios{
    // background-color: rebeccapurple;
    min-height: 200px;
    .title{
        font-weight: 500;
    }
    .list{
        table{
            width: 100%;

            border-collapse: separate;
            border-spacing: 10;
            border: 1px solid rgba(94, 93, 93, 0.842);
            border-radius: 5px;
            -moz-border-radius: 20px;
            padding: 2px;

            thead{
                .date{
                    width: 160px;
                }
            }
            tbody{
                font-family: 'Noto Sans Mono', monospace;
                font-weight: 500;
                tr{
                    .date{
                        min-width: 170px;
                    }
                    .content{
                        width: 100%;
                        padding: 0 4px;
                    }
                }
            }
        }
    }
}