<div class="panel">
    <div class="panel-title">
        <h2>Historial de atención al usuario</h2>
    </div>
    <div class="panel-controls">
        <mat-form-field appearance="standard">
            <mat-label>Buscar (Documento o nombre)</mat-label>
            <input matInput autocomplete="off">
        </mat-form-field>
        <div>
            <button mat-button>Agregar <mat-icon>post_add</mat-icon></button>
            <button mat-button (click)="updateList()">Actualizar lista <mat-icon>update</mat-icon> </button>
            <button mat-button>Filtrar <mat-icon>filter_alt</mat-icon> </button>
        </div>
    </div>
    <div class="panel-list">
        <ng-container *ngIf="listRequests.length > 0; else listEmpy">
            <div class="div-table">

                <table mat-table [dataSource]="listRequests" multiTemplateDataRows>
                    
                    <!-- Fecha -->
                    <ng-container matColumnDef="date">
                        <th class="date" mat-header-cell *matHeaderCellDef> Fecha </th>
                        <td class="date" mat-cell *matCellDef="let element"> <div>{{element.date | date: 'dd/MMM/yyyy hh:mm aa'}}</div> </td>
                    </ng-container>
                    <!-- Nombre -->
                    <ng-container matColumnDef="name">
                        <th class="name" mat-header-cell *matHeaderCellDef> Nombre </th>
                        <td class="name" mat-cell *matCellDef="let element"> {{element.name.toLowerCase() }} </td>
                    </ng-container>
                    <!-- estado -->
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> Estado </th>
                        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                    </ng-container>
                    <ng-container matColumnDef="controls">
                        <th mat-header-cell *matHeaderCellDef> Controles </th>
                        <td class="controls" mat-cell *matCellDef="let element">
                            <div>
                                <button mat-icon-button> <mat-icon>zoom_in</mat-icon> </button>
                                <button mat-icon-button> <mat-icon>edit</mat-icon> </button>
                                <button mat-icon-button> <mat-icon>delete</mat-icon> </button>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="expandedDetail">
                        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                          <div class="example-element-detail"
                               [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                            <div class="description">
                                <div>
                                    Acompañamiento realizado
                                    <div class="accompaniment-text">
                                        {{element.accompaniment}}
                                    </div>
                                </div>
                            </div>
                          </div>
                        </td>
                      </ng-container>

                    <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

                    <tr mat-row *matRowDef="let element; columns: displayedColumns;"
                        class="example-element-row"
                        [class.example-expanded-row]="expandedElement === element"
                        (click)="expandedElement = expandedElement === element ? null : element">
                    </tr>
                    <tr matRipple mat-row *matRowDef="let row; columns: displayedColumns;" class="example-detail-row"></tr> -->


                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let element; columns: displayedColumns;"
                        class="example-element-row"
                        [class.example-expanded-row]="expandedElement === element"
                        (click)="expandedElement = expandedElement === element ? null : element">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
                            
                </table>



                <!-- <mat-accordion>
                    <mat-expansion-panel *ngFor="let req of listRequests">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="date">
                                    {{req.date | date: 'dd/MMM/yyyy hh:mm aa'}}
                                </div>
                                <div class="name">
                                    {{req.name}}
                                </div>
                            </mat-panel-title>
                            <mat-panel-description>
                                {{req.service}}
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div >
                            <div>
                                {{req.accompaniment}}
                            </div>
                            <div class="comentarios">
                                <div class="title">
                                    Regitro de observaciones
                                </div>
                                <div class="list">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th class="date">Fecha</th>
                                                <th>Observación</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let obs of req.observations">
                                                <td class="date">{{obs.date | date: 'dd/MMM/yyyy hh:mm aa'}}</td>
                                                <td class="content">{{obs.content}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div>
                                <button mat-button>Agregar comentario</button>
                                <button mat-button>Ver mas</button>
                                <button mat-button>Cerrar caso</button>
                                <button mat-button>Eliminar caso</button>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion> -->
            </div>
        </ng-container>
        <ng-template #listEmpy>
            <div>
                Sin resultados
            </div>
        </ng-template>
    </div>
    <!-- <h2 class="panel-title">Historial de atención al usuarios</h2>
    <div class="panel-controls">
        
        <mat-form-field appearance="standard">
            <mat-label>Buscar (Documento o nombre)</mat-label>
            <input matInput autocomplete="off">
        </mat-form-field>
        <div>
            <button mat-button>Agregar</button>
            <button mat-button>Actualizar lista</button>
            <button mat-button>Filtrar</button>
        </div>
    </div>
    <div class="panel-list">
        
    </div> -->

</div>