<h2>Configuraciones de las EPS</h2>

<!-- Controles -->
<div>
    <button mat-stroked-button (click)="loadEPS()">Actualizar lista</button>
    <button mat-stroked-button (click)="addEPS()">Agregar EPS</button>
</div>

<!-- Lista de la EPS ingresadas en el sistema -->
<ul>
    <li *ngFor="let eps of listEPS">
        <div class="name">{{eps.name}}</div>
        <div class="status">{{eps.disable ? 'Desactivada' : 'Activada'}}</div>
        <div class="actions">
            <button mat-icon-button (click)="editEPS(eps)"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button><mat-icon>delete</mat-icon></button>
        </div>
    </li>
</ul>