main{
    width: 100%;
    .surveys{
        padding: 10px;
    }
    section{
        .title{
            font-size: 110%;
            font-weight: 400;
        }
        .flex{
            display: flex;
            align-items: center;
            column-gap: 20px;
        }
        @media screen and (max-width: 500px){
            .flex{
                flex-wrap: wrap;
            }
        }
    }
}

::ng-deep{

    
}
.tab-content{
    padding-top: 20px;
}

.tab-lock{
    // background-color: red;
    display: none;
    position: relative;
    .panel{
        z-index: 100;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(126, 117, 117, 0.582);
    }
}