<main>
    <section>
        <div>
            <button mat-stroked-button (click)="resetForms()">Recet</button>
        </div>
        <div class="title">
            Infomación del encuestado
        </div>
        <div class="flex">
            <!-- Documento de identioficación -->
            <mat-form-field appearance="standard" style="width: 130px;">
                <mat-label>Documento</mat-label>
                <input type="text" matInput autocomplete="off" [(ngModel)]="dni" (keyup)="clearUser()">
                <button matSuffix mat-icon-button  (click)="validDocument()"><mat-icon>search</mat-icon></button>
            </mat-form-field>
            <!-- Nombre -->
            <mat-form-field appearance="standard" style="width: 100%;">
                <mat-label>Nombre</mat-label>
                <input class="capitalize" matInput readonly [(ngModel)]="userName">
            </mat-form-field>
        </div>
        <div class="flex">
            <!-- Número de teléfono -->
            <mat-form-field appearance="standard">
                <mat-label>Teléfono</mat-label>
                <input matInput readonly [(ngModel)]="userCellphone">
            </mat-form-field>

            <!-- Direccion -->
            <mat-form-field appearance="standard" style="width: 100%;">
                <mat-label>Dirección</mat-label>
                <input matInput readonly [(ngModel)]="userAddress" class="capitalize">
            </mat-form-field>
        </div>
    </section>
    <section>
        <div style="display: flex; align-items: center; column-gap: 10px;">
            <mat-form-field>
                <mat-label>Encuestador</mat-label>
                <mat-select [formControl]="inputUser" [value]="'1'">
                    <mat-option *ngFor="let item of listSurveyors" [value]="item.id">{{item.name}}</mat-option>
                </mat-select>
            </mat-form-field>

        </div>
    </section>
    <section>
    
        <div class="surveys">
            <mat-tab-group mat-align-tabs="start">
                <mat-tab label="EPS">
                    <!-- Enceesta de la EPS -->
                    <div class="tab-content">
                        <app-survey-eps (formData)="sendEPS($event)" [salve]="surveys.eps.salve" [form]="surveys.eps.form"></app-survey-eps>
                        
                    </div>
                </mat-tab>
              
                <mat-tab label="IPS">
                    <!-- Encuestas de la IPS -->
                    <div class="tab-content">
                        <app-survey-ips
                        [formIPS]="surveys.ips.primary.form"
                        [formIPSSalve]="surveys.ips.primary.salve"
                        [formHospitalization]="surveys.ips.hospitalization.form"
                        [formHospitalizationSalve]="surveys.ips.hospitalization.salve"
                        [formLaboratory]="surveys.ips.laboratory.form"
                        [formLaboratorySalve]="surveys.ips.laboratory.salve"
                        [formPharmacy]="surveys.ips.pharmacy.form"
                        [formPharmacySalve]="surveys.ips.pharmacy.salve"
                        [formMedicine]="surveys.ips.medicine.form"
                        [formMedicineSalve]="surveys.ips.medicine.salve"
                        [formOdontology]="surveys.ips.odontology.form"
                        [formOdontologySalve]="surveys.ips.odontology.salve"
                        (formDataIPS)="sendIPS($event)"
                        (formDataHospitalization)="sendHospitalization($event)"
                        (formDataLaboratory)="sendLaboratory($event)"
                        (formDataPharmacy)="sendPharmacy($event)"
                        (formDataMedicine)="sendMedicine($event)"
                        (formDataOdontology)="sendOdontology($event)"
                        ></app-survey-ips>
                    </div>
                </mat-tab>
                
            </mat-tab-group>
            <div class="panel">
                
            </div>
        </div>
    </section>
</main>