.flex{
    display: flex;
    column-gap: 15px;
    flex-wrap: wrap;
}
.flex-wrap{
    flex-wrap: wrap;
}

.sex{
    width: 60px;
}
.number{
    width: 160px;
}
mat-dialog-content{
    padding-bottom: 20px;
}