main{
    height: 100%;
    max-width: 900px;
    display: grid;
    grid-template-rows: auto auto 1fr;
    .controles{
        display: grid;
        column-gap: 20px;
        align-items: center;
        grid-template-columns: 1fr auto;
        .botones{
            display: flex;
            column-gap: 10px;
        }
    }

    .resultados{
        // background-color: red;
        padding-bottom: 20px;
        height: 100%;
        overflow: auto;
        table{
            width: 100%;
            tr.mat-header-row{
                height: 20px;
            }
            .mat-column-date div{
                text-align: left;
                width: 190px;
            }
            .mat-column-dni div{
                width: 100px;
            }
            .mat-column-name{
                width: 100%;
                div{
                    text-transform: capitalize;
                }
            }
            .mat-column-actions div{
                display: flex;
            }
        }
    }
}

// th.mat-header-cell{
//     color: aqua;
//     margin: 0;
// }
// tr.mat-header-row{
//     padding: 0;
//     margin: 0;
//     height: 10px;
//     background-color: burlywood;
// }
