<h2>Configuraciones del perfil</h2>
<section>
    <div class="title">Datos</div>
    <div class="content">
        <table>
            <tr>
                <td>Nombre:</td>
                <td>Heiler Nova</td>
                <td><button mat-icon-button><mat-icon>edit</mat-icon></button></td>
            </tr>
            <tr>
                <td>Apellido:</td>
                <td>Nova</td>
                <td><button mat-icon-button><mat-icon>edit</mat-icon></button></td>
            </tr>
            <tr>
                <td>Correo electrónico:</td>
                <td>Heiler Nova</td>
                <td><button mat-icon-button><mat-icon>edit</mat-icon></button></td>
            </tr>
            <tr>
                <td>Nombre de usuario:</td>
                <td>Heiler Nova</td>
                <td><button mat-icon-button><mat-icon>edit</mat-icon></button></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button mat-stroked-button>Cambiar contraseña</button>
                </td>
            </tr>
        </table>
    </div>
</section>